<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
    <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  <link rel="stylesheet" href="/css/app.css">
  <title>Document</title>
  <style>
    #video-grid {
      display: grid;
      item-align: center;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }

    video {

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="#">My account</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->


  <!-- Jumbotron -->
  <div class="card card-image" style="background-image: url(https://i.imgur.com/ILoMhKt.png);">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->

        <h2 class="card-title h2 my-4 py-2">Redefining Video Chat?</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
        <a class="btn peach-gradient"><i class="fas fa-clone left"></i> Sign Up!</a>

      </div>
    </div>
  </div>
  <!-- Jumbotron -->







  <!-- Jumbotron -->
  <div class="jumbotron text-center">

    <!-- Title -->
    <h4 class="card-title h4 pb-2"><strong>* Call Info *</strong></h4>

    <!-- Card image -->
    <div class="view overlay my-4">
      <img src="video-grid" class="img-fluid" alt="">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>


    <div id="video-grid" </div>




  </div>
  <!-- Jumbotron -->

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!-- Card -->
      <div class="card gradient-card">

          <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">

            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                <div class="first-content align-self-center p-3">
                  <h3 class="card-title">Keep Up With </h3>
                  <p class="lead mb-0"> Your Team & Friends!</p>
                </div>
                <div class="second-content align-self-center mx-auto text-center">
                  <i class="far fa-money-bill-alt fa-3x"></i>
                </div>
              </div>
            </a>

          </div>

          <!-- Data -->
          <div class="third-content ml-auto mr-4 mb-2">
            <p class="text-uppercase text-muted">Unread Messages</p>
            <h4 class="font-weight-bold float-right">6 New Messages</h4>
          </div>

          <!-- Content -->
          <div class="card-body white">
            <div class="progress md-progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-muted"></p>


          </div>

      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!-- Card -->
      <div class="card gradient-card">

          <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                <div class="first-content align-self-center p-3">
                  <h3 class="card-title">Set Up</h3>
                  <p class="lead mb-0">A Video Call!</p>
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                  <i class="fas fa-chart-line fa-3x"></i>
                </div>
              </div>
            </a>

          </div>

          <!-- Data -->
          <div class="third-content  ml-auto mr-4 mb-2">
            <p class="text-uppercase text-muted">Friends</p>
            <h4 class="font-weight-bold float-right">200 Connections</h4>
          </div>

          <!-- Content -->
          <div class="card-body white">
            <div class="progress md-progress">
              <div class="progress-bar purple lighten-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-muted"></p>


          </div>

      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!-- Card -->
      <div class="card gradient-card">

          <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                <div class="first-content align-self-center p-3">
                  <h3 class="card-title">Stay Up To Date</h3>
                  <p class="lead mb-0">With Boom!</p>
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                  <i class="fas fa-chart-pie fa-3x"></i>
                </div>
              </div>
            </a>

          </div>

          <!-- Data -->
          <div class="third-content  ml-auto mr-4 mb-2">
            <p class="text-uppercase text-muted">Click here for</p>
            <h4 class="font-weight-bold float-right">Updates!</h4>
          </div>

          <!-- Content -->
          <div class="card-body white animated">
            <div class="progress md-progress">
              <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-muted"></p>


          </div>

      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!-- Card -->
      <div class="card gradient-card">

          <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask aqua-gradient-rgba">
                <div class="first-content align-self-center p-3">
                  <h3 class="card-title">Location!</h3>
                  <p class="lead mb-0">Be In The Same Room From Miles Away!</p>
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                  <i class="fas fa-chart-line fa-3x"></i>
                </div>
              </div>
            </a>

          </div>

          <!-- Data -->
          <div class="third-content  ml-auto mr-4 mb-2">
            <p class="text-uppercase text-muted">Check The Map!</p>
            <h4 class="font-weight-bold float-right"></h4>
          </div>

          <!-- Content -->
          <div class="card-body white">
            <div class="progress md-progress">
              <div class="progress-bar cyan lighten-1" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>



          </div>

      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->






















  <!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Boom Inc</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>
